@charset "utf-8";

/* 
Paleta de cores

*/
*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}


body, html {
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    overflow: hidden;  

    background-color: #FDF1C2;
    width: 280px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/porta.jpg) no-repeat;
    height: 50%;
    background-size: cover; 
    background-position: top;
    transition: width .5s, height .5s;
    transition-timing-function: ease;    
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}

div.campo {
  margin: 5px 5px;  
}
div.campo >span {
    color: #332503;
    
}



form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:  #762801bb;
    border: none;
    margin-top: 15px;
    color: #D1A222;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.541);
}

form > input[type=submit]:hover {
    background-color: #762801d7;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.589);
}

.material-icons {
    padding-top: 5px;
}

